.header h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding: 1vw;
}

.project {
    font-family: 'Courier New', Courier, monospace;
    padding: 1vw;
}
.project h {
    font-weight: bold;
}
